<app-sensor-table-filters
  [sortBy]="sortBy"
  (sortByChange)="sortByChange($event)"
  [sortDirection]="sortDirection"
  (sortDirectionChange)="sortDirectionChange($event)"
  [filterBy]="filterBy"
  (filterByChange)="filterByChange($event)"
  [filterSearchTerm]="filterSearchTerm"
  (filterSearchTermChange)="filterSearchTermChange($event)"
  [shouldAggregate]="shouldAggregate"
  (shouldAggregateChange)="shouldAggregateChange($event)"
></app-sensor-table-filters>

<cdk-virtual-scroll-viewport itemSize="33">
  <table *ngIf="readings; else loading" cellspacing="0">
    <thead>
      <tr>
        <td>Sensor ID</td>
        <td>Box ID</td>
        <td>Sensor Type</td>
        <td>Name</td>
        <td>Longitude</td>
        <td>Latitude</td>
        <td>Reading</td>
        <td>Time</td>
      </tr>
    </thead>
    <tr
      *cdkVirtualFor="
        let readingEntry of readings
          | aggregate: 'sensor_type':'reading':shouldAggregate
          | filter: filterBy:filterSearchTerm
          | orderBy: sortBy:sortDirection
      "
    >
      <td>{{ readingEntry.id }}</td>
      <td>{{ readingEntry.box_id }}</td>
      <td>{{ readingEntry.sensor_type }}</td>
      <td>{{ readingEntry.name }}</td>
      <td>{{ readingEntry.longitude }}</td>
      <td>{{ readingEntry.latitude }}</td>
      <td>
        {{ readingEntry.reading }}{{ readingEntry.unit }}
        <ng-template [ngIf]="shouldAggregate">(median)</ng-template>
        <small
          >(between {{ readingEntry.range_l }} and
          {{ readingEntry.range_u }})</small
        >
      </td>
      <td>{{ readingEntry.reading_ts | date: "medium" }}</td>
    </tr>
  </table>
</cdk-virtual-scroll-viewport>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
