cdk-virtual-scroll-viewport,
table {
  height: 600px;
}

thead {
  font-weight: 600;
}
thead td {
  border-bottom: 2px solid #ddd;
  padding: 8px;
}

td {
  padding: 8px 4px;
}

small {
  color: #bbb;
}

tr:nth-child(2n + 1) {
  background: #f3f3f3;
}
