<div class="filter-container">
  <div class="search">
    <input
      type="search"
      placeholder="Filter..."
      [value]="filterSearchTerm"
      (input)="filterSearchTermChange.emit($event)"
    />
    <select [value]="filterBy" (change)="filterByChange.emit($event)">
      <option value="name">Name</option>
      <option value="sensor_type">Sensor Type</option>
    </select>
  </div>

  <div class="extras">
    <label>
      <input
        type="checkbox"
        [value]="shouldAggregate"
        (change)="shouldAggregateChange.emit($event)"
      />
      Aggregate
    </label>

    <select [value]="sort" (change)="handleSort($event)">
      <option value="sensor_type___asc">Sensor Type (Asc)</option>
      <option value="sensor_type___desc">Sensor Type (Desc)</option>
      <option value="reading_ts___asc">Time (Asc)</option>
      <option value="reading_ts___desc">Time (Desc)</option>
    </select>
  </div>
</div>
