.filter-container {
  display: flex;
  flex-direction: column;
  padding: 16px 0 32px;
  width: 600px;
  max-width: 100%;
  font-size: 20px;
}

.search {
  display: flex;
}
.search input,
.search select,
.extras select {
  font-size: 20px;
  padding: 4px 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.search input {
  width: 100%;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search select {
  width: fit-content;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.extras {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
