div {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  border-top-color: black;
  border-radius: 100%;
  animation: spin infinite linear 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
